<template>
  <div id="app">
    <v-app data-app>
      <v-app-bar dense app>
        <v-toolbar-title>
          Weather The Storm: An RPG Weather System
        </v-toolbar-title>
      </v-app-bar>
      <v-main>
        <v-tabs>
          <v-tab>
            Generate
          </v-tab>
          <v-tab>
            System Rules
          </v-tab>
          <v-tab-item>
            <v-container>
              <i>Set your weather starting values. Pick a season. Set your climate.</i>
              <v-row>
                <v-col
                  cols="2"
                >
                  <v-text-field
                    v-model="startingValues.sky"
                    type="number"
                    label="Sky"
                    min="1"
                    max="10"
                    outlined
                    hint="Lower = Clearer"
                    persistent-hint
                    dense
                  />
                </v-col>
                <v-col
                  cols="2"
                >
                  <v-text-field
                    v-model="startingValues.temperature"
                    type="number"
                    label="Temperature"
                    min="1"
                    max="10"
                    outlined
                    hint="Lower = Warmer"
                    persistent-hint
                    dense
                  />
                </v-col>
                <v-col
                  cols="2"
                >
                  <v-text-field
                    v-model="startingValues.wind"
                    type="number"
                    label="Wind"
                    min="1"
                    max="10"
                    outlined
                    hint="Lower = Calmer"
                    persistent-hint
                    dense
                  />
                </v-col>
                <v-col
                  cols="2"
                >
                  <v-select
                    v-model="season"
                    :items="seasons"
                    label="Season"
                    outlined
                    dense
                  />
                </v-col>
                <v-col
                  cols="2"
                >
                  <v-select
                    v-model="climate"
                    :items="climates"
                    label="Climates"
                    item-text="name"
                    item-value="value"
                    outlined
                    dense
                  >
                    <template
                      slot="item"
                      slot-scope="data"
                    >
                      <template v-if="typeof data.item !== 'object'">
                        <v-list-item-content v-text="data.item" />
                      </template>
                      <template v-else>
                        <v-list-item-content>
                          <v-list-item-title>{{ data.item.name }}</v-list-item-title>
                        </v-list-item-content>
                      </template>
                    </template>
                  </v-select>
                </v-col>
                <v-col
                  cols="2"
                >
                  <v-btn color="primary" @click="reset">
                    Update
                  </v-btn>
                </v-col>
              </v-row>
              <v-btn color="primary" @click="shuffle">
                Re-roll
              </v-btn>
              <v-card class="calendar">
                <v-card-title>
                  Climate: {{ currentClimate.name }}
                  Season: {{ currentSeason.text }}
                </v-card-title>
                <v-card-text>
                  <i>Click for a day for more info</i>
                  <br>
                  <template v-for="calenderDay in calendar">
                    <div :key="calenderDay.number" class="day" @click="showDay(calenderDay)">
                      <div class="number">
                        {{ calenderDay.number }}
                      </div>
                      <div class="periods">
                        <div :class="'period temperature-' + calenderDay.periods.am.temperature">
                          <i :class="'wi ' + currentClimate.sky.icon[calenderDay.periods.am.sky]" />
                          <i :class="'wi wi-wind-beaufort-' + calenderDay.periods.am.wind" />
                          <i class="wi wi-day-sunny indicator" />
                        </div>
                        <div :class="'period temperature-' + calenderDay.periods.pm.temperature">
                          <i :class="'wi ' + currentClimate.sky.icon[calenderDay.periods.pm.sky]" />
                          <i :class="'wi wi-wind-beaufort-' + calenderDay.periods.pm.wind" />
                          <i class="wi wi-moon-waxing-crescent-3 indicator" />
                        </div>
                      </div>
                    </div>
                  </template>
                </v-card-text>
              </v-card>
              <v-card v-if="day" class="day-info">
                <v-card-title>Day {{ day.number }}</v-card-title>
                <v-card-text>
                  <v-row>
                    <v-col :class="'temperature-' + day.periods.am.temperature" col="6">
                      <div>
                        <b>Day time</b> <i class="wi wi-day-sunny" />
                      </div>
                      <div>
                        <b>Sky:</b>
                        {{ skyText(day.periods.am.sky) }}
                        {{ percipitationText(day.periods.am.sky, day.periods.am.percipitation) }}
                        <i :class="'wi ' + currentClimate.sky.icon[day.periods.am.sky]" />
                      </div>
                      <div>
                        <b>Wind:</b> {{ windText(day.periods.am.wind) }}
                        <i :class="'wi wi-wind-beaufort-' + day.periods.am.wind" />
                      </div>
                      <div>
                        <b>Temperature:</b> {{ temperatureText(day.periods.am.temperature) }}
                      </div>
                    </v-col>
                    <v-col :class="'temperature-' + day.periods.pm.temperature" col="6">
                      <div>
                        <b>Night time</b>
                        <i class="wi wi-moon-waxing-crescent-3" />
                      </div>
                      <div>
                        <b>Sky:</b>
                        {{ skyText(day.periods.pm.sky) }}
                        {{ percipitationText(day.periods.pm.sky, day.periods.pm.percipitation) }}
                        <i :class="'wi ' + currentClimate.sky.icon[day.periods.pm.sky]" />
                      </div>
                      <div>
                        <b>Wind:</b> {{ windText(day.periods.pm.wind) }}
                        <i :class="'wi wi-wind-beaufort-' + day.periods.pm.wind" />
                      </div>
                      <div>
                        <b>Temperature:</b> {{ temperatureText(day.periods.pm.temperature) }}
                      </div>
                    </v-col>
                  </v-row>
                </v-card-text>
                <v-card-actions>
                  <v-btn text @click="day=null">
                    Close
                  </v-btn>
                </v-card-actions>
              </v-card>
            </v-container>
          </v-tab-item>
          <v-tab-item>
            <v-container>
              <v-row>
                <v-col>
                  <v-select
                    v-model="selectedSystem"
                    :items="systems"
                    label="System"
                    outlined
                    dense
                  />
                </v-col>
              </v-row>
              <v-row v-for="section in currentSystem" :key="section">
                <v-col cols="2">
                  <b>{{ section.name }}</b>
                </v-col>
                <v-col cols="10">
                  <ul>
                    <li v-for="rule in section.rules" :key="rule">
                      {{ rule }}
                    </li>
                  </ul>
                </v-col>
              </v-row>
            </v-container>
          </v-tab-item>
        </v-tabs>
      </v-main>
      <v-footer>
        <v-container>
          <v-row>
            <v-col>
              Built by <a href="https://twitter.com/MikeyKoppJ">@MikeyKoppJ</a>
              <br>
              Based on <a href="https://old.reddit.com/r/DnDBehindTheScreen/comments/7pvytn/weather_trackinggeneratingeffects_system_20/" target="_blank">Weather System</a> by <a href="https://old.reddit.com/user/JustLikeFM">/u/JustLikeFM</a>
            </v-col>
            <v-col class="text-right">
              v{{ version }}
              <br>
              <a href="https://gitlab.com/gms-haversack/weather-the-storm" target="_blank">
                Contribute on GitLab
              </a>
            </v-col>
          </v-row>
        </v-container>
      </v-footer>
    </v-app>
  </div>
</template>

<script>
import 'static/icons/css/weather-icons.min.css';

const { v4: uuidv4 } = require('uuid');
const weatherValues = require('static/weather.json');
const systemEffects = require('static/system_effects.json');
const dice = require('static/dice.js');

const initialSeed = uuidv4();

function generateClimatesList() {
  const climates = [];
  const climateKeys = Object.keys(weatherValues);
  climateKeys.forEach((climate) => {
    const currentClimate = weatherValues[climate];
    const group = { header: currentClimate.group };
    if (climates.filter(g => g.header === currentClimate.group).length === 0) {
      climates.push(group);
    }
    climates.push({
      name: currentClimate.name,
      value: climate,
      group: currentClimate.group,
    });
  });
  return climates;
}

function generateSystemsList() {
  const systems = [];
  const systemKeys = Object.keys(systemEffects);
  systemKeys.forEach((system) => {
    const currentSystem = {
      text: systemEffects[system].name,
      value: system,
    };
    systems.push(currentSystem);
  });
  return systems;
}

export default {
  data() {
    return {
      seed: initialSeed,
      days: 30,
      seasons: [
        { text: 'Spring', value: 'spring' },
        { text: 'Summer', value: 'summer' },
        { text: 'Autumn', value: 'autumn' },
        { text: 'Winter', value: 'winter' },
      ],
      startingValues: {
        sky: 5,
        temperature: 5,
        wind: 5,
      },
      systems: generateSystemsList(),
      selectedSystem: 'd&d-5e',
      calendar: [],
      season: 'spring',
      climates: generateClimatesList(),
      climate: 'temperate',
      diceSet: dice(initialSeed),
      day: null,
    };
  },
  computed: {
    currentSystem() {
      const rules = systemEffects[this.selectedSystem];
      return rules.effects;
    },
    version() {
      return process.env.version;
    },
    currentClimate() {
      return weatherValues[this.climate];
    },
    currentSeason() {
      return this.seasons.find(x => x.value === this.season);
    },
  },
  mounted() {
    const querySeed = this.$route.query.seed;
    if (querySeed) {
      const parts = querySeed.split('-');
      const initialValues = parts.splice(-3);
      const seed = parts.join('-');
      this.diceSet = dice(seed);
      this.seed = seed;
      this.startingValues.sky = parseInt(initialValues[0], 10);
      this.startingValues.temperature = parseInt(initialValues[1], 10);
      this.startingValues.wind = parseInt(initialValues[2], 10);
    } else {
      this.setQueryString();
    }
    this.calc();
  },
  methods: {
    reset() {
      this.startingValues = {
        sky: parseInt(this.startingValues.sky, 10),
        temperature: parseInt(this.startingValues.temperature, 10),
        wind: parseInt(this.startingValues.wind, 10),
      };
      this.setQueryString();
      this.diceSet = dice(this.seed);
      this.calc();
    },
    showDay(day) {
      this.day = day;
    },
    skyText(sky) {
      return this.currentClimate.sky.text[sky];
    },
    temperatureText(temperature) {
      return this.currentClimate.temperature.text[temperature];
    },
    windText(wind) {
      return this.currentClimate.wind.text[wind];
    },
    percipitationText(sky, doGet) {
      if (doGet) {
        return `(${this.currentClimate.percipitation.text[sky]})`;
      }
      return '';
    },
    setQueryString() {
      this.$router.replace({
        query: {
          seed: `${this.seed}-${this.startingValues.sky}-${this.startingValues.temperature}-${this.startingValues.wind}`,
        },
      });

      this.diceSet = dice(this.seed);
    },
    nextSky(sky) {
      let newSky = sky;
      const season = this.currentClimate.sky.season[this.currentSeason.value];
      const d20 = this.diceSet.d20() + season.modifier;
      if (d20 > sky) {
        newSky += 1;
      } else if (d20 < sky) {
        newSky -= 1;
      }
      if (newSky > season.max) {
        newSky = season.max;
      } else if (newSky < season.min) {
        newSky = season.min;
      }
      return newSky;
    },
    nextTemperature(temperature) {
      let newTemperature = temperature;
      const season = this.currentClimate.temperature.season[this.currentSeason.value];
      const d20 = this.diceSet.d20() + season.modifier;
      if (d20 > temperature) {
        newTemperature += 1;
      } else if (d20 < temperature) {
        newTemperature -= 1;
      }
      if (newTemperature > season.max) {
        newTemperature = season.max;
      } else if (newTemperature < season.min) {
        newTemperature = season.min;
      }
      return newTemperature;
    },
    nextWind(wind) {
      let newWind = wind;
      const season = this.currentClimate.wind.season[this.currentSeason.value];
      const d20 = this.diceSet.d20() + season.modifier;
      if (d20 > wind) {
        newWind += 1;
      } else if (d20 < wind) {
        newWind -= 1;
      }
      if (newWind > season.max) {
        newWind = season.max;
      } else if (newWind < season.min) {
        newWind = season.min;
      }
      return newWind;
    },
    calc() {
      this.calendar = [];
      const firstDay = {
        number: 1,
        periods: {
          am: {
            sky: this.nextSky(this.startingValues.sky),
            percipitation: false,
            temperature: this.nextTemperature(this.startingValues.temperature),
            wind: this.nextWind(this.startingValues.wind),
          },
          pm: {
            sky: 5,
            percipitation: false,
            temperature: 5,
            wind: 5,
          },
        },
      };
      firstDay.periods.am.percipitation = firstDay.periods.am.sky > this.diceSet.d12();

      firstDay.periods.pm.sky = this.nextSky(firstDay.periods.am.sky);
      firstDay.periods.pm.percipitation = firstDay.periods.pm > this.diceSet.d12();
      firstDay.periods.pm.temperature = this.nextTemperature(firstDay.periods.am.temperature);
      firstDay.periods.pm.wind = this.nextWind(firstDay.periods.am.wind);

      this.calendar.push(firstDay);

      for (let period = 1; period < this.days; period += 1) {
        const lastDay = this.calendar[period - 1];
        const currentDay = {
          number: period + 1,
          periods: {
            am: {
              sky: this.nextSky(lastDay.periods.pm.sky),
              percipitation: false,
              temperature: this.nextTemperature(lastDay.periods.pm.temperature),
              wind: this.nextWind(lastDay.periods.pm.wind),
            },
            pm: {
              sky: 5,
              percipitation: false,
              temperature: 5,
              wind: 5,
            },
          },
        };
        currentDay.periods.am.percipitation = currentDay.periods.am.sky > this.diceSet.d12();

        currentDay.periods.pm.sky = this.nextSky(currentDay.periods.am.sky);
        currentDay.periods.pm.percipitation = currentDay.periods.pm > this.diceSet.d12();
        currentDay.periods.pm.temperature = this.nextTemperature(currentDay.periods.am.temperature);
        currentDay.periods.pm.wind = this.nextWind(currentDay.periods.am.wind);

        this.calendar.push(currentDay);
      }
    },
    shuffle() {
      this.seed = uuidv4();
      this.setQueryString();
      this.calc();
    },
  },
  head() {
    return {
      title: 'Weather the Storm',
    };
  },
};
</script>

<style>
.calendar {
  margin-top: 1rem;
  color: black;
}
.day {
  display: inline-flex;
  position: relative;
  width: 7rem;
  height: 7rem;
  border: 1px solid black;
  margin: 2px;
  cursor:pointer;
}
.day:hover {
  outline: 2px solid black;
}
.day .number {
  position: absolute;
  bottom: 0.2rem;
  left: 0.2rem;
  font-weight: 900;
  font-size: 2rem;
  opacity: 0.3;
  z-index: 1;
}
.day .periods {
  width: 100%;
  height: 100%;
  display: flex;
}
.day .periods .period {
  width: 50%;
  height: 100%;
  display: block;
  padding: 0.5rem;
  position: relative;
}
.day .periods .period:first-of-type {
  border-right: 2px dashed white;
}
.wi {
  font-size: 1.75rem;
}
.day-info .wi {
  font-size: 1.25rem;
}
.temperature-1 {
  background: rgb(255, 56, 0);
}
.temperature-2 {
  background: rgb(255, 131, 0);
}
.temperature-3 {
  background: rgb(255, 177, 101);
}
.temperature-4 {
  background: rgb(255, 206, 159);
}
.temperature-5 {
  background: rgb(255, 227, 202);
}
.temperature-6 {
  background: rgb(255, 242, 236);
}
.temperature-7 {
  background: rgb(247, 245, 255);
}
.temperature-8 {
  background: rgb(228, 234, 255);
}
.temperature-9 {
  background: rgb(215, 226, 255);
}
.temperature-10 {
  background: rgb(205, 220, 255);
}
.light {
  color:rgb(200, 200, 200);
}
.dark {
  color: rgb(104, 104, 104);
}
.darker {
  color: rgb(59, 59, 59);
}
.indicator {
  font-size: 1rem;
  text-align: center;
  position: absolute;
  bottom: 0.2em;
  right: 0.2em;

}
.day-info {
  background: red;
}
</style>
